activity_logs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="activity_logs">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="log" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="user" type="xs:string"/>
              <xs:element name="action" type="xs:string"/>
              <xs:element name="timestamp" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>