schema/tasks.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="tasks">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="task" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:integer"/>
              <xs:element name="user_id" type="xs:integer"/>
              <xs:element name="assigned_to" type="xs:integer" minOccurs="0"/>
              <xs:element name="title">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="255"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
              <xs:element name="status">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="pending"/>
                    <xs:enumeration value="completed"/>
                    <xs:enumeration value="archived"/>
                    <xs:enumeration value="in_progress"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="created_at" type="xs:string"/>
              <xs:element name="priority" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="Low"/>
                    <xs:enumeration value="Medium"/>
                    <xs:enumeration value="High"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="due_date" type="xs:string" minOccurs="0"/>
              <xs:element name="last_updated" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
